.App {
  text-align: center;
  padding: 2rem;
  background-color: #000000;
  font-family: "Poppins", sans-serif;
  background-image: url('./assets/Larry.png'); 
  background-size: cover;       
  background-position: center;  
  background-repeat: no-repeat; 
  min-height: 100vh; 
}

h1 {
  color: #ffffff;
  margin-bottom: 10px;
  font-size: 100px;
  text-shadow: 20px 20px 25px rgba(8, 8, 8, 0.973);
}

h2 {
  color: #fafafa;
  font-size: 50px;
  text-shadow: 20px 20px 25px rgba(8, 8, 8, 0.973);
}

h3 {
  text-align: center;
  background-color: #000000;
  width: 200px;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 30px;
  text-shadow: 20px 20px 25px rgba(8, 8, 8, 0.973);
  margin: 0 auto;
  margin-top: 40px;
  padding: 10px;
  border-radius: 17%;
}

p {
  color: #ffffff;
  font-size: 24px;
  text-shadow: 20px 20px 25px rgba(8, 8, 8, 0.973);
}

.botones-container {
  display: flex;
  justify-content: center;
  color: #ffffff;
  width: 100%;
  gap: 60px;
  flex-wrap: wrap;
  margin: 80px 0;
}

.boton-sabor {
  width: 150px;           
  height: 150px;          
  border-radius: 50%;    
  padding: 2% 1%;
  border: none;
  box-shadow: #000000 0px 8px 24px;
  background-image: url('./assets/Larry.png'); 
  background-size: cover;       
  background-position: center;  
  background-repeat: no-repeat; 
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
  font-weight: bold;
  color: #ffffff;
  font-size: 25px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-shadow: 20px 20px 25px rgba(8, 8, 8, 0.973);
} 

.botones-acciones {
  display: flex;               
  justify-content: center;     
  align-items: center;         
  text-align: center;
  gap: 20px;
  margin-top: 20px;
}

.boton-vaciar {
  padding: 2% 1%;
  width: 80px;           
  height: 80px;          
  border-radius: 50%; 
  border: #000000 solid 3px;
  box-shadow: #000000 8px 8px 24px;
  margin: 20px;
  background-color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
} 

.boton-vaciar:hover {
  background-color: #8a2c2c;
  transform: scale(1.5);
  transition: all 0.5s ease-in-out;
  
}

.boton-comprar {
  width: 80px;           
  height: 80px;          
  border-radius: 50%;  
  border: #000000 solid 3px;  
  box-shadow: #000000 8px 8px 24px;
  margin: 20px;
  background-color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.boton-comprar:hover {
  background-color: #598a2c;
  transform: scale(1.5);
  transition: all 0.5s ease-in-out;
}

.boton-sabor:hover {
  background-color: #598a2c;
  transform: scale(1.5);
  transition: all 0.5s ease-in-out;
}



.carrito-lista {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  justify-items: center; 
  justify-content: center;                
  background-image: url('./assets/Larry.png');
  background-size: cover;       
  background-position: center;  
  background-repeat: no-repeat; 
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: darken;
  border: #000000 solid 3px;
  width: 30%;
  margin: 0 auto;
  padding: 60px;
  box-shadow: #000000 0px 8px 24px;
  border-radius: 50%;
  gap: 10px;                            
}


.carrito-lista li:nth-child(3) {
  grid-column: span 2; 
}

.carrito-lista li {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: #000000 0px 8px 24px;
  margin: 15px auto;
  padding: 2% 1%;
  background-image: url('./assets/Larry.png');
  background-size: cover;       
  background-position: center;  
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.8);
  background-blend-mode: darken;
  font-size: 15px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-shadow: 20px 20px 25px rgba(8, 8, 8, 0.973);
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); } to { transform: rotate(360deg); }
}
