.header {   
  position: fixed;      /* siempre visible arriba */
  top: 0;
  left: 0;
  right: 0;             /* 👈 esto asegura que use todo el ancho de la pantalla */
  z-index: 1000;
  display: flex;  
  justify-content: space-between;  
  align-items: center;  
  padding: 1rem 3rem;   /* un poco más de espacio a los lados */
  background-color: rgba(0, 0, 0, 0.795);
  color: white;
  height: 20%; 
  border-bottom: 2px solid white;
  box-sizing: border-box; /* evita que el padding sume al ancho total */
  transition: all 0.8s ease; /* 👈 transición suave */
}

/* .header:hover {
   background-color: rgb(234, 235, 234);
  border-bottom: 2px solid rgb(0, 0, 0);
} */


.logo {
  font-size: 2rem;
  font-family: 'Allerta Stencil', sans-serif;
 
}

.Login-right {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  gap: 2rem;
  white-space: nowrap; /* evita que el texto se corte si es largo */
}


.usuario-button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-size: 80%;       
  background-image: url("./assets/usuario.png");
  background-position: center;  
  background-repeat: no-repeat;
  background-color: rgba(248, 2, 2, 0.8);
  background-blend-mode: darken;
  box-shadow: #000000 0px 8px 24px;
  transition: transform 1.2s, background-color 1.2s ease-in-out, color 1.5s ease-in-out;
  text-decoration: none;
  margin: auto;
}
.usuario-button:hover {
  background-color: #598a2c;
  transform: scale(1.3);
}


.home-button a {
  background-image: url("./assets/Logo.png");
  background-position: center;
  background-size: cover; 
  background-repeat: no-repeat;
  margin-left: 2%;
  align-items: center;
  width: 16rem;
  height: 16rem;
  border-radius: 50%;
  display: inline-block;
  transition: transform 0.5s ease-in-out;
  margin-top: 30%;
}

.home-button a:hover {
  transform: translateY(7rem) translateX(2rem) scale(1.8);
  
}