/* .App {
  text-align: center;
  padding: 2rem;
  background-color: #000000;
  font-family: "Poppins", sans-serif;
}

h1 {
  color: #ffffff;
  margin-bottom: 10px;
}

h2 {
  color: #7e7e7e;
}

.botones-container {
  display: flex;
  justify-content: center;
  color: #ffffff;
  width: 100%;
  gap: 10px;
  flex-wrap: wrap;
  margin: 30px 0;
}

.boton-sabor {
  padding: 2% 1%;
  border-radius: 10px;
  border: none;
  background-color: #e9eee9;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
} 

.boton-sabor:hover {
  background-color: #598a2c;
  transform: scale(1.05);
}

.carrito-lista {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 10px;
  padding: 0;
}

.carrito-lista li {
  margin: 5px auto;
  padding: 2% 1%;
  width: 200px;
  border-radius: 30%;
  background-color: #ffffff;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); } to { transform: rotate(360deg); }
} */

#root {
  background-color: #000000;
}